@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
$font-stack: 'Inconsolata', monospace;

$colors: (
  blue: #add8e6,
  white: #fff,
  navy: #000080,
  red: #ff6961,
);

@function returnColor($chosenColor) {
  @return map-get($colors, $chosenColor);
}


body, html {
  margin: 0;
  background-color: returnColor(blue);
}

.weather {
  color: returnColor(white);
  font-family: $font-stack;
  display: flex;
  align-items: center;
  flex-direction: column;

  .inputField {
    width: 100vw;
    display: flex;
    justify-content: center;
    input[type=text] {
      width: 30%;
      font-size: 1.2em;
      font-family: $font-stack;
    }
    button {
      background: none;
      border: none;
      font-family: $font-stack;
      color: returnColor(white);
      font-size: 1.2em;
      background-color: darken(returnColor(blue), 10%);
      border-radius: 5px;
      margin: 5px;
    }
  }
}

.weatherContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5%;
  font-family: $font-stack;
  color: navy;

  @media (max-width: 600px) {
/*desktop first*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .cityDiv {
    width: 33%;
    margin-top: 5%;
    border: 10px solid navy;
    border-radius: 5px;
    text-align: center;
    background-color: returnColor(white);
    position: relative;

    @media (max-width: 600px) {
  /*desktop first*/
    align-self: center;
    margin-top: 5%;
  }
    .deleteBtn {
      background: none;
      border: none;
      color: returnColor(red);
      font-size: 1.2em;
      position: absolute;
      top: 0;
      right: 2%;
    }
  }
}
